

<table class="table table-striped">
    
    <tbody  >
        <tr class="p-3 mb-2 bg-dark text-white">
            <th class="colorr">FULL NAME </th>
            <td>{{tableData.user.userName | titlecase}}</td>
            </tr>
        <tr class="p-3 mb-2 bg-dark text-white">
            <th class="colorr">MOBILE NO</th>
            <td>{{tableData.user.mobileNo}}</td>
            </tr>
        <tr class="p-3 mb-2 bg-dark text-white">
            <th class="colorr">COLLEGE</th>
            <td>{{tableData.user.college}}</td>
            </tr>
      <tr class="p-3 mb-2 bg-dark text-white">
        <th class="colorr">HALLTICKET NO</th>
        <td>{{tableData.user.hallTicketno}}</td>
        </tr>
      <tr class="p-3 mb-2 bg-dark text-white">
        <th class="colorr">DEGREE</th>
        <td>{{tableData.user.degree | titlecase }}</td>

      </tr >
      <tr class="p-3 mb-2 bg-dark text-white">
        <th class="colorr">CITY</th>
        <td>{{tableData.user.city | titlecase}}</td>

      </tr>
      <tr class="p-3 mb-2 bg-dark text-white">
        <th class="colorr">STATE</th>
        <td>{{tableData.user.state | titlecase}}</td>

      </tr>
      <tr class="p-3 mb-2 bg-dark text-white">
        <th class="colorr">PINCODE</th>
        <td>{{tableData.user.pincode}}</td>

      </tr>
    </tbody>
  </table>